body{
    background-color: rgb(151, 182, 203);
}

.employ h1{
    margin-left: 120px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
  }
  
  .card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    background-color: rgb(189, 196, 237);
  }
  
  .card-image {
    width: 50px;
    height: 50px;
    border: solid rgb(235, 183, 116);
    border-radius: 50%;
    margin-right: 25px;
    
  }
  
  .card-title {
    font-size: 18px;
    margin: 1;
    padding: 5px;
  }

  .red{
    margin-right: 80px;
  }

  .blue{
    background-color: black;
    color: white;
  }
  
  